.editarCliente-tudo{
  width: 100%;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editarCliente-quadrado-centralizado {
  min-width: 200px; 
  padding: 40px; 
  background-color: var(--dark-blue-color); 
  border-radius: 10px; 
  text-align: center;
  position: relative;
}

.editarCliente-quadrado-centralizado p {
  color: white;
  text-align: left;
  padding-left: 7px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 15px;
}

.editarCliente-quadrado-centralizado h2 {
  color: white;
  padding-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}

.editarCliente-button {
  margin: 20px 10px;
  background: transparent;
  border: 2px solid cyan; 
  color: white; 
  padding: 10px 15px;
  border-radius: 5px; 
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
      transform: scale(1.1);
  }
}

.editarCliente-input {
  background: transparent;
  border: 2px solid white; 
  color: white; 
  padding: 10px; 
  border-radius: 4px;
  transition: all 0.4s;
  width: 500px;
  &:focus, &:active {
      outline: none;
      border: 2px solid white;
      transform: scale(1.01);
  }
}

.editarCliente-quadrado-centralizado select {
  width: 525px;
  color: white;
}

.editarCliente-quadrado-centralizado option {
  color: black;
}

.editarCliente-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}