.tudo-endereco {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.fundo-endereco {
    background-color: var(--white-color);
    width: 60%;
    height: fit-content;
    margin: 120px 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    border: 1.5px solid;
}

.tabela-endereco {
    background-color: var(--dark-blue-color);
    min-width: 200px;
    width: 30%;
    height: auto;
    padding: 0 0 60% 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-x: auto;
}

.botoes-endereco {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao-endereco {
    margin-bottom: 20px;
    padding: 20px 50px;
    width: 80%;
    border-radius: 10px;
    background-color: var(--gray-color);
    font-size: 15px;
    border: 1.5px solid var(--blue-color);
    font-weight: bold;
    transition: .3s !important;
}

.botao-endereco:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 15px;
    border: 2px solid var(--green-color);
    border-radius: 20px;
    transition: .3s !important;

}

.dados-endereco {
    width: 90%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-endereco {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.h2-endereco {
    font-size: 20px;
    font-weight: bold;
    padding-top: 7%;
}

.label-endereco {
    font-size: 20px;
    padding-top: 2%;

}

.label2-endereco {
    font-size: 20px;
    padding-top: 2%;
    display: flex;
}

.input-endereco {
    margin-top: 1%;
    padding: 15px;
    width: 42%;
    background-color: var(--gray-color);
    border: none;
    border-radius: 10px;
}

.numero-endereco {
    display: flex;
    margin-top: 2%;
    width: 100%;
    justify-content: center;

}

.input2-endereco {
    margin-top: 2%;
    padding: 15px;
    width: 80%;
    background-color: var(--gray-color);
    border: none;
    border-radius: 10px;
}

#botao-endereco {
    margin-top: 5%;
    background-color: var(--dark-blue-color);
}


.botao-endereco {
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.botoes-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.botao-endereco input[type="radio"] {
    margin-right: 5px;
}

.botao-endereco label {
    opacity: 0.5;
}

.lixeira-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.onClickImg {
    margin-left: auto;
    cursor: pointer;
}

.botao-endereco {
    display: flex;
    align-items: center;
}