:root {
  --blue-color: #48a7ff;
  --dark-blue-color: #004166;
  --green-color: #48FFA7;
  --green-90-color: #008000;
  --pink-color: #FF487F;
  --white-color: #FFFFFF;
  --gray-color: #D7D7D7;
  --black-color: #000000;
  --black-50-color: rgba(0, 0, 0, .5);
  --black-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                      rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                      rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                      rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --background-image: url('../img/wallpaper/BackgroundImage.png');
}