#root {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	background-image: var(--background-image);
	background-color: var(--gray-color) !important;
	background-size: auto;
}

main {
	flex: 1;
}