.fundo{
    background-color: rgba(0, 0, 0, 0.91);
    width: 100%;
    height: 1000px;
    justify-content: center;
    display: flex;
}

.campos{
    width: 500px;
    height: 644px;
    background-color: #28044D;
    margin-top: 110px;
    border-radius: 40px;
}

.componentes{
    padding-top: 50px;
    padding-left: 23px;
}

input{
    width: 90%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 20px;
}
h3{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

button{
    width: 159px;
    height: 33px;
    border-radius: 20px;
    background: #B072EE;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.dupla{
    display: flex;
    flex-direction: row;
}
.dupla input{
    width: 80%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 20px;
}

select{
    width: 160%;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 20px; 
    
}

button:hover{
    cursor: pointer;
    -webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.75);
}