.campos {
  width: 500px;
  height: 644px;
  background-color: var(--dark-purple-color);
  margin-top: 110px;
  border-radius: 40px;
}

.componentes {
  padding-top: 50px;
  padding-left: 23px;
}

input {
  width: 90%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-size: 20px;
}
h3 {
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

button {
  width: 159px;
  height: 33px;
  border-radius: 20px;
  background: var(--purple-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}
.dupla {
  display: flex;
  flex-direction: row;
}
.dupla input {
  width: 80%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-size: 20px;
}

.select {
  width: max-content;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  -webkit-box-shadow: -7px 10px 5px 0px var(--black-02-color);
  -moz-box-shadow: -7px 10px 5px 0px var(--black-02-color);
  box-shadow: -7px 10px 5px 0px var(--black-02-color);
  width: 164px;
  height: 37px;
}

.user-register-paragraph {
  margin-top: 15px;
  color: var(--red-color);
}