.aside {
  background-color: var(--dark-blue-color);
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
  transition-timing-function: ease-out;
}

.geekopolis-aside-home-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.geekopolis-aside-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
  margin-top: 10%;
}

.geekopolis-aside-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

.geekopolis-aside-links a,
.geekopolis-aside-footer button {
  color: var(--white-color);
  background-color: transparent;
  margin: 10px 0;
  font-weight: 600;
  gap: 10px;
  display: flex;
  align-items: center;
  transition: .2s !important;
}

.aside-client-links {
  width: 120px;
}

.geekopolis-aside-footer button {
  border-radius: 8px;
  border: 1.5px solid var(--blue-color);
  border-left-width: 3px;
  border-right-width: 3px;
  padding: 5px 15px;
  transition: .3s !important;
}

.geekopolis-aside-footer button:hover {
  border-radius: 20px;
  border-left-width: 2px;
  border-right-width: 2px;
  transition: .3s !important;
}

.border-0 button {
  border: 0 solid transparent !important;
}

.geekopolis-aside-links a:hover,
.geekopolis-aside-footer button:hover {
  text-shadow: 0px 0px 5px var(--gray-color), 0px 0px 5px var(--white-color);
  transition: .2s;
  cursor: pointer;
}

.geekopolis-aside-links a>img,
.geekopolis-aside-footer button>img {
  width: 20px;
}

.geekopolis-aside-logo {
  width: 90%;
  display: flex;
  margin: 30px auto;
}

.large {
  width: 30px !important;

}

.medium {
  width: 25px !important;

}

.open-aside-button {
  cursor: pointer;
  background-color: transparent;
  border: 0px solid transparent;
  margin-top: 80px;
}

.open-aside-button img {
  width: 35px;
}

.left {
  transform: rotate(180deg);
  transition: .3s;
}

.right {
  transform: rotate(0deg);
  transition: .3s;
}