.quantidade-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .quantidade-selector button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .quantidade-selector span {
    font-size: 16px;
    font-weight: bold;
  }