.modal {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campos {
  width: 500px;
  height: max-content;
  background-color: var(--dark-purple-color);
  margin-top: 110px;
  border-radius: 40px;
  padding-bottom: 30px;
}

.componentes {
  padding-top: 60px;
  padding-left: 23px;
}

.input {
  width: 90%;
  margin-top: 30px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-size: 20px;
}
.field-label {
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}

.submit-button {
  width: 159px;
  height: 33px;
  border-radius: 20px;
  background: var(--purple-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}
.dupla {
  display: flex;
  flex-direction: row;
}
.dupla input {
  width: 80%;
  margin-top: 10px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-size: 20px;
  justify-content: center;
}

.botao {
  margin-top: 30px;
}

.submit-button:hover {
  cursor: pointer;
  width: 164px;
  height: 37px;
}

.user-register-paragraph {
  margin-top: 15px;
  color: var(--red-color);
}

#import{
  padding-top: 0px;
}