.tudo{
    padding-left: 10%;
    padding-top: 5%;
    background-color: #244F6B;
    width: 90%;
    padding-top: 10%;
}

.categoria{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.carousel{
    padding-top: 30px; 
}

