.tudo {
    background-color: #244F6B;
    width: 100%;
}

.categoria {
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}

.carousel {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.landing-page-banner {
    margin-top: 70px;
    width: 100%;
    overflow-x: hidden;
    height: 600px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 14px cyan, 0px 0px 15px cyan;
}