.carousel-container {
    width: 90%;
    padding-bottom: 80px;
}

.carousel-slide {
    margin-left: 40px
}

.inside {
    background-color: #44B0C1;
    width: 250px;
    border-radius: 10px;
    height: 400px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 15px;
}

.inside:hover {
    cursor: pointer;
    transition: 130ms;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 74px 75px;
}

.carousel-image {
    padding-top: 10px;
    width: 170px;
    height: 200px;
}

.descricao {
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.nome {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#preco {
    padding-top: 30px;
    font-size: 17px;
    color: #163741;
    font-weight: bold;
}

a {
    color: inherit;
    /* Use a cor padrão do texto */
    text-decoration: none;
    /* Remova sublinhado padrão de links */
}