
.carousel-container{
    width: 80%;
    padding-bottom: 250px;
}

.carousel-slide{
    margin-left: 40px
}

.inside{
    background-color: var(--white-color);
    width: 250px;
    border-radius: 10px;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 15px;
}

.inside:hover{
    cursor: pointer;
    transition: 130ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 74px 75px;
}

.carousel-image{
    width: 170px;
    height: 200px;
}

.descricao{
    text-align: center;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.nome{
    font-size: 25px;
}

#preco{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: var(--green-90-color);
}

a {
    color: inherit; /* Use a cor padrão do texto */
    text-decoration: none; /* Remova sublinhado padrão de links */
  }