.user-edit {
  color: white;
}

.fundo{
    background-color: rgba(0, 0, 0, 0.91);
    width: 100%;
    height: 1000px;
    justify-content: center;
    display: flex;
}
.filter{
    background-color: #28044D;
    height: 80%;
    width: 90%;
    border-radius: 30px;
    margin-top: 10px;
}
.login{
    width: 500px;
    height: 644px;
    background-color: #28044D;
    margin-top: 50px;
    border-radius: 40px;
}

.componentes{
    padding-top: 80px;
    padding-left: 23px;
}
.componentes2{
    padding-top: 50px;
    padding-left: 23px;
}

.inserir{
    width: 92%;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    font-size: 20px;
    background-color: white;
}
button{
    width: 159px;
    height: 33px;
    border-radius: 20px;
    background: #B072EE;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

p{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.cadastrar{
    text-align: center;
    padding-top: 20px;
}
.botao{
    text-align: center;
    padding-top: 30px;
}

button:hover{
    cursor: pointer;
}

.requests-table thead {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    padding-bottom: 15px;
    background-color: var(--dark-purple-color) !important;
    border-bottom: 1.5px solid var(--black-color);
  }
  .requests-table tr {
    padding-top: 10px;
    background-color: var(--dark-purple-color) !important;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .requests-table th {
    width: 25%;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  .requests-table td {
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: var(--dark-purple-color) !important;
  }
  .requests-table {
    background-color: var(--white-color);
    width: 90%;
    margin: 30px auto;
    color: white;
  }
  .request{
    background-color: #28044D;
  }
  .text{
    width: 500px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    height: 70px;

  }
  .text button{
    margin-top: 25px;
    margin-left: 10%;
    height: 40px;
  }
  .atualizar{
    margin: 0 auto;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .user-data{
    text-align: center;
    width: 100%;
  }

  .edit-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #B072EE;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #9340a8;
  }