.category-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    border: 2px solid cyan;
    padding-top: 60px; 
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    background-color: transparent;
    display: inline-block;
    border-radius: 10px;
    transition: .3s;
  }
  
  .image-container img {
    max-width: 100%; 
    max-height: 100%; 
    display: block;
    margin: 0 auto;
  }

  .image-container:hover {
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
  }