.header {
  height: 120px;
  background-color: var(--dark-purple-color);
  display: flex;
  width: 100%;
}

.header img {
  padding-top: 10px;
}

.opcoes {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 100px;
  padding-top: 30px;
  justify-content: space-around;
}

.opcoes h3:hover {
  cursor: pointer;
  font-size: 23px;
  text-decoration: underline;
}

.Elementos {
  color: var(--white-color);
}
