.fundo{
    background-color: #004166;
    width: 112%;
    height: 8%;
    color: white;
    display: flex;
    justify-content:center;
    margin: 0 auto;
    border-radius: 0;
    margin-left: -12%;
}

.geekopolis-aside-logo{
    margin-left: 10%;
    width: 15%;
    margin: 30px ;
    align-items: start;
    display: flex;
    justify-content: flex-start
}
h3{
    display: flex;
    vertical-align: middle;
    font-style:inherit;
}

.Mia{
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    display: inline-block;
    font-size: 12;
    font-style:inherit;
}

.Instalogo{
    padding-left: 5%;
}