.login {
  width: 500px;
  height: 644px;
  background-color: #004166;
  margin-top: 50px;
  border-radius: 40px;
}

.componentes {
  padding-top: 80px;
  padding-left: 23px;
}
.componentes2 {
  padding-top: 50px;
  padding-left: 23px;
}

input {
  width: 92%;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  font-size: 20px;
}
h3 {
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}

h2 {
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}

.entrar {
  text-align: center;
  padding-top: 70px;
}

.login-anchor {
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}

.login-button {
  width: 159px;
  height: 33px;
  border-radius: 20px;
  background: var(--purple-color);
  border: none;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}

.login-paragraph {
  text-align: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.cadastrar {
  text-align: center;
  padding-top: 20px;
}
.botao {
  text-align: center;
  padding-top: 30px;
}

button:hover {
  cursor: pointer;
}

.user-login-paragraph {
  margin-top: 15px;
  color: var(--red-color);
}
